@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

html {
  font-family: "Inter", sans-serif;
  height: 100%;
}
body,
#root {
  height: 100%;
}

header {
  z-index: 10001 !important;
}
